<div class="card text-center border-info m-3", style="width: 50%;">
    <div class="card-header">
        <p>Log in</p>
    </div>
    <div class="card-body">
        <form>
            <div>
                <label></label>
                <input>
                <small></small>
            </div>
            <div>
                <label></label>
                <input>
                <small></small>
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>
</div>
<script src="../public/js/login.js"></script>