<div class="card text-center border-info m-3", style="width: 50%;">
    <div class="card-header">
        <p>Log in</p>
    </div>
    <div class="card-body">
        <form id="loginForm">
            <div class="form-group">
                <label for="username-input-login">Username</label>
                <input type="text" class="form-control" id="username-input-login" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password-input-login">Password</label>
                <input type="password" class="form-control" id="password-input-login" placeholder="Password">
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a type="button" href="/signup">Sign up</a>
            </div>
        </form>
    </div>
</div>
<script src="/public/js/login.js"></script>