<div class="card text-center border-info m-3", style="width: 50%;">
    <div class="card-header">
        <p>Sign up</p>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input" placeholder="Enter username">
                <small class="form-text text-muted">Usernames must be between 4 and 32 chars</small>
            </div>
            <div class="form-group">
                <label for="email-input">Email</label>
                <input type="text" class="form-control" id="email-input" placeholder="Email">
                <small class="form-text text-muted">Must look like a valid email</small>
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
                <small class="form-text text-muted">Passwords must be at least 8 chars</small>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>
<script src="../public/js/signup.js"></script>